body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

code {
  font-family: "Josefin Sans", sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.MuiTypography-root {
  font-family: "Josefin Sans", sans-serif;
}

.profileBannerAfterScroll {
  height: 100px !important;
}
.profilePicAfterScroll {
  height: 50px !important;
  width: 50px !important;
}
.dashbarAfterScroll {
  display: none !important;
}
.insidePanelAfterScroll {
  overflow-y: scroll !important;
}
.dashAfterScroll {
  height: calc(100vh - 60px) !important;
}
